@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

:root:has(.no-doc-scroll) {
  position: fixed;
  top: var(--st, 0);
  inline-size: 100%;
  overflow-y: scroll;
}

body,
main {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 254, 254, 1) 50%
  );
}

.image-gallery-slide img {
  height: 500px;
}

button.gm-ui-hover-effect {
  height: 2px !important;
}

image-gallery-bullets .image-gallery-bullet {
  &.active {
    background: red !important;
  }
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border: 3px solid #f97316 !important;
}

.image-gallery-icon {
  color: #f97316 !important;
}
